
<div class="container">
<div class="w-75 m-auto py-5">
    <h2 class="my-5 text-center">Register Now</h2>

    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)='submitRegisterForm(registerForm)'>
        <div class="mb-3">
            <label for="first_name">First Name :</label>
            <input formControlName="first_name" type="text" class="form-control" id="first_name">
            <div *ngIf="registerForm.get('first_name')?.errors != null 
                        && registerForm.get('first_name')?.touched"
                class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('first_name')?.errors?.required">First name is required</p>
                <p *ngIf="registerForm.get('first_name')?.errors?.minlength">minimum characters is 3</p>
                <p *ngIf="registerForm.get('first_name')?.errors?.maxlength">maximum characters is 8</p>
            </div>  
        </div>

        <div class="mb-3">
            <label for="last_name">Last Name :</label>
            <input formControlName="last_name" type="text" class="form-control" id="last_name">
            <div *ngIf="registerForm.get('last_name')?.errors 
            && registerForm.get('last_name')?.touched"
            class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('last_name')?.errors?.required">Last name is required</p>
                <p *ngIf="registerForm.get('last_name')?.errors?.minlength">minimum characters is 3</p>
                <p *ngIf="registerForm.get('last_name')?.errors?.maxlength">maximum characters is 8</p>
            </div>  
        </div>

        <div class="mb-3">
            <label for="email">Email :</label>
            <input formControlName="email" type="email" class="form-control" id="email">
            <div *ngIf="registerForm.get('email')?.errors 
            && registerForm.get('email')?.touched"
            class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('email')?.errors?.required">Email name is required</p>
                <p *ngIf="registerForm.get('email')?.errors?.email">Enter a valid email</p>
            </div>  
        </div>

        <div class="mb-3">
            <label for="password">Passowrd :</label>
            <input formControlName="password" type="password" class="form-control" id="password">
            <div *ngIf="registerForm.get('password')?.errors 
                && registerForm.get('password')?.touched"
            class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('password')?.errors?.required">Passowrd name is required</p>
                <p *ngIf="registerForm.get('password')?.errors?.pattern">Passowrd must start with capital letter, contain from 4 to 8 </p>
            </div>  
        </div>

        <div class="mb-3">
            <label for="age">Age :</label>
            <input formControlName="age" type="number" class="form-control" id="age">
            <div *ngIf="registerForm.get('age')?.errors 
                && registerForm.get('age')?.touched" 
            class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('age')?.errors?.required">Age name is required</p>
                <p *ngIf="registerForm.get('age')?.errors?.min">Minimum age is 16</p>
                <p *ngIf="registerForm.get('age')?.errors?.max">Maximum age is 80</p>
            </div>  
        </div>
        

        <button [disabled]='registerForm.invalid' class="btn btn-info" type="submit">Register</button>
    </form>
</div>
</div>

